*{
    margin: 0;
    padding: 0;
}
body {
	font-size: 20px; 
	font-family: 'Montserrat', sans-serif;
}
img{
    max-width: 100%;
}
/* header part */

/* mac book part */
.macBook_wrapper{
    text-align: center;
    padding: 25px 0;
    background-color: #fafafa;
}
.model_wrapper{
    font-size: .85em;
}
.macBook{
 font-weight: 700;
 font-size: 56px;
}
.macBook_description{
    font-size: 2em;
}
.link_wrapper  a{
    color: #06c;
text-decoration: none;
}
.link_wrapper a::after{
      font-family: "FontAwesome";
    content: "\f105";
    font-weight: 900;
    padding-left: 12px;
}
.link_wrapper a:hover{
    color: black;
}

.link_wrapper{
   padding: 15px 0;
}
.learnMore{
    margin-right: 37px;
}
/* ip11 pro part */
.ip11Pro_wrapper{
    text-align: center;
    background-image: url("../images/home/iphone11-pro-bg.jpg");
    height: 580px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    padding: 65px 20px;
}
.ip11_pro{
    font-weight: 600;
    font-size: 56px;
}
.ip11Pro_description{
    font-size: 26px;
    padding: 10px 0;
}
.price_wrapper{
    color: #86868b;
    font-size: 0.85em;
}
.products-container {
  display: flex;
  margin: 10px 0;
  gap: 10px;
}
.product {
  width: 50%;
  padding-top: 30px;
  text-align: center;
  height: 550px;
}
.product .description {
  margin: 10px 0;
  font-size: 1.1rem;
}
.product3 {
  background: url(../images/home/apple-tv-background.jpg) no-repeat bottom;
}
.product3 .description {
  padding: 180px 0;
  text-align: center;
}
.watch-link {
  color: #06c;
}
.products-container .product4 {
  background: #000 url(../images/home/air-pods.jpg) no-repeat bottom;
  color: #fff;
}
.product4 .links a:hover {
  color: #fff;
}
.product5 {
  background: #fafafa url(../images/home/macbook-pro.jpg) no-repeat bottom;
}
.product6 {
  background: url(../images/home/new-ipad.jpg) no-repeat bottom;
}
